div p::after{
    content: " Olepolos bitch!!";
}

div:hover{
  
    background-color: turquoise;
}

div {
    transition: background-color 300ms;
}

button {
    animation: float 2000ms infinite;
    transition:all 300ms;
}

button:hover{
    background-color: black;
    color: white;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    100%{
        transform: translateY(10px);
    }
}