h1 {
	color: red;
}
.red{
    color: red;
}

.blue{
    color: blue;
}
section {
    width: 100%;
    font-family: "roboto", sans-serif;
    border: 1px solid black;
}

img {
    height: 200px;
    width: 200px;
}